
*$py.class
build/
# Build
# Debug
# Dependencies
dist/
.DS_Store
*.egg-info/
.env
env/
ENV/
.env.development.local
# Environment
.env.local
.env.production.local
.env.test.local
# IDE
.idea/
*.log
# Logs
.next/
# Node
node_modules/
npm-debug.log*
# OS
out/
.pnp
.pnp.js
__pycache__/
*.py[cod]
# Python
.Python
*.so
*.swo
*.swp
Thumbs.db
venv/
.vscode/
yarn-debug.log*
yarn-error.log*
.env.production
.env*.local
next-env.d.ts
.env.production
.env*.local
